<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.futeboldospais.futeboldospais">

    <!-- Declaração de permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_laucherteste"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_laucherteste"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.DocumentViewer"
            android:label="@string/title_activity_document_viewer"
            android:theme="@style/AppTheme" />
        <activity android:name=".controller.MenuPrincipalActivity" />
        <activity
            android:name=".util.ModalJogos"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".util.ModalClassificacao"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".util.ModalSuspensao"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />

        <!-- Declaração de serviços da aplicação -->
        <service
            android:name=".ServicoAtualizacao"
            android:exported="false" />

    </application>

</manifest>